@import 'src/mixin.scss';

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;

  .background-logo {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    padding: 3%;
    box-sizing: border-box;
    opacity: 0.1;
    z-index: -1;
  }

  .video-container {
    flex: 1;
    padding: 1%;
    overflow-y: auto;

    @include pad {
      padding: 2%;
    }
    @include mobile {
      padding: 3%;
    }
  }
}
